<nav class="nav">
  <h1><a routerLink="">E-Commerce</a></h1>
  <div class="input-search" *ngIf="checkMenu !== 'seller'">
    <input
      #searchInput
      type="text"
      (keyup)="searchItem($event)"
      (blur)="clearSuggestion()"
      placeholder="Enter search"
    />
    <button (click)="getSearchResult(searchInput.value)">Search</button>
    <ul class="search-cont" *ngIf="searchResult">
      <li *ngFor="let data of searchResult">
        <a (click)="productDetails(data.id)">{{ data.productName }}</a>
      </li>
    </ul>
  </div>

  <div [ngSwitch]="checkMenu">
    <ul *ngSwitchCase="'default'">
      <li>
        <a routerLink=""> Home</a>
      </li>
      <li>
        <a routerLink="seller">Seller</a>
      </li>
      <li>
        <a routerLink="user-auth">Login/Sign Up</a>
      </li>

      <li>
        <a href="#">Cart({{ cartNo }})</a>
      </li>
    </ul>

    <ul *ngSwitchCase="'user'">
      <li>
        <a routerLink=""> Home</a>
      </li>
      <li>
        <a>{{ userName | uppercase }}</a>
      </li>
      <li>
        <a routerLink="cart-page">Cart({{ cartNo }})</a>
      </li>

      <li>
        <a (click)="logoutUser()">Logout</a>
      </li>
    </ul>

    <ul *ngSwitchCase="'seller'">
      <li>
        <a routerLink="seller-home"> Seller List</a>
      </li>
      <li>
        <a routerLink="seller-add-product">Add Product</a>
      </li>

      <li>
        <a (click)="logout()">Logout</a>
      </li>
      <li>
        <a>{{ sellerName }}</a>
      </li>
    </ul>
  </div>
</nav>
