<div class="Add-product">
    <h1>Update Product</h1>
    <form [formGroup]="updateProductForm" class="form-common">
      <a class="msg">{{StatusMsg}}</a>
      <input
        type="text"
        class="form-input"
        formControlName="productName"
        placeholder="Enter Product Name"
        name="productName"
        
      />
      <input
        type="text"
        class="form-input"
        formControlName="productPrice"
        placeholder="Enter Product Price"
        name="productPrice"
        value="{{productDetails?.productPrice}}"
      />
      <input
        type="text"
        class="form-input"
        formControlName="productColor"
        placeholder="Enter Product Color"
        name="productColor"
        value="{{productDetails?.productColor}}"
      />
      <input
        type="text"
        class="form-input"
        formControlName="productImg"
        placeholder="Enter Product Image"
        name="productImg"
        value="{{productDetails?.productImg}}"
      />
      <input
        type="text"
        class="form-input"
        formControlName="productDesc"
        placeholder="Enter Product Description"
        name="productDesc"
        value="{{productDetails?.productDesc}}"
      />
      <input
        type="text"
        class="form-input"
        formControlName="productCategory"
        placeholder="Enter Product Category"
        name="productCategory"
        value="{{productDetails?.productCategory}}"
      />
      <button class="form-button" (click)="UpdateProduct()">Update Product</button>
    </form>
  </div>
  