.carsolImage {
  object-fit: contain;
  height: 500px;
  width: 100%;
}

.carousel-caption {
  color: rgb(247, 245, 243);
  background-color: rgb(30, 3, 4, 0.5);
}

.carousel-control-next-icon {
  color: black;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: auto;
  width: 300px;
  display: inline-block;
  /* justify-content: center; */
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardImg{
  height: 150px;
}
.container {
  padding: 10px;
}

.productContainer {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.buttonCont {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
